h1,p{
    color:rgb(230, 15, 15);
    text-align: center;
    
}
/* body{
    background-color: rgb(80, 255, 49);
} */
*{
    border: solid;
}
.header{
    background-color: rgb(255, 124, 37);
    display:flex ;
    justify-content: space-between;
}
.grid{
    display:flex ;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footer{
    display:flex;
    justify-content: flex-end;

}
.description{
    text-align: center;
}
